.main-content__card{
    margin: 2%;
    width: 300px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 450px 50px 200px;
    padding: 20px;
    
    img{
        height: 100%;
        width: 100%;
    }
    h1{
        font-size: 40px;

        padding: 4px;
    }
    h2{
        
        font-size: large;
        padding: 4px;
        overflow: scroll;
      
    }
}

.main-content__card h2::-webkit-scrollbar{
    display: none;
}