.main-content__card{
    
    margin: 0.5%;
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    padding: 20px;
 

    h1{
        
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 2%;
       

    }


    &-image{
        border: 4px solid black;
        height: 65%;
        width: 100%;
        background-color: rgb(224, 224, 224);
        margin: 0;
        img{
            height: 100%;
            width: 100%;
        }
    }
   
    h2{
        font-size: medium;
        overflow: scroll;
      
    }
}


.main-content__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.main-content__card h2::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 1500px) {
    .main-content__card{

        height: 800px;
        width: 400px;
        h1{
            font-size: 30px;
    
        }
        h2{
            font-size: large;
        }
    }
}
