.nav-bar{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        text-align: center;

        input{
            margin-top: 5%;
            height: 100px;
            width: 100px;
            
        }
        #search{
            width: 90%;
            font-size: 30px;
            height: 80px;
            margin-bottom: 60%;
        }
        
    }
    
    
 
 

}