*{
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App{
  display: grid;

  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
 

}

