@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
}

.App{
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
 

}

@media screen and (min-width: 1500px) {
  .App{
 
    grid-template-columns: 15% 85%;
   
  
  }
}
